<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let chat of chats">
      <ion-label>{{chat.id}}</ion-label>
      <ion-button (click)="navigateTo(chat)">Show Chat</ion-button>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
